@model Friend
@{
    ViewData["Title"] = "Friend Removed";
}

<h1>Friend "@Model.FriendName" Successfully Removed</h1>
<button>
    <a class="nav-link text-dark" asp-controller="Friend" asp-action="Index">Back to Friend List</a>
</button>

