@using ClassChallenge1.Services;
@model FriendList
@{
    ViewData["Title"] = "Friend";
}

<h1>Friends</h1>

@foreach(var item in Model.listOfFriends)
{
    <p>@item.FriendName</p>
    //Asp route id adds the Friend id to the URL
    <button>
        <a class="text-dark" asp-controller="Friend" asp-route-id="@item.FriendID" asp-action="FriendDetails">View Details</a>
    </button>
    <button>
        <a class="text-dark" asp-controller="Friend" asp-route-id="@item.FriendID" asp-action="UpdateFriend">Update Friend</a>
    </button>
    <button>
        <a class="text-dark" asp-controller="Friend" asp-route-id="@item.FriendID" asp-action="FriendRemoved">Remove Friend</a>
    </button>
    
}

