@model Friend
@{
}
<h3>Insert a new friend here:</h3>
<form method="post" asp-action = "InsertNewFriend">
    <div asp-validation-summary = "All">
        <div class = "form-field">
            <label asp-for="FriendID"></label>
            <input asp-for = "FriendID"/>
            <span asp-validation-for = "FriendID"/>
        </div>
        <div class = "form-field">
            <label asp-for="FriendName"></label>
            <input asp-for = "FriendName"/>
            <span asp-validation-for = "FriendName"/>
        </div>
        <div class = "form-field">
            <label asp-for="Place"></label>
            <input asp-for = "Place"/>
            <span asp-validation-for = "Place"/>
        </div>
        <div class = "form-field">
            <input type="submit">Submit</input>
        </div>
        
    </div>
    
</form>
