body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    justify-content: center;
}

header {
    background:rgb(172, 23, 23);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 100vw;
}


h1 {
    display: block;
    font-size: 2.3rem;
    text-align: center;
    width: 100vw;
}

h2 {
    align-items: center;
    background-color: rgb(196, 193, 193);
    display: flex;
    padding-left: 5px;
    font-size: 15px;
}

#pokedex {
    display: grid;
    grid-template: repeat(100, 1%)/repeat(100, 1%);
    
    background-image: url(../images/pokedexBackground.jpg);
    background-size: 35rem;
    border: 3px solid black;
    border-radius: 21px;
    padding: 10px 50px;
    min-height: 968px;
    min-width: 409px;
    max-height: 969px;
    max-width: 410px;
}

#searchbar {
    border: 1.5px solid black;
    border-radius: 5px;
    height: 20px;
    margin: 10px 10px;
    padding: 5px 5px;
    width: 250px;
}

#searchbutton {
    border: 1.5px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: .8rem;
    font-weight: bold;
    height: 35px;
    margin: 10px 10px;
    padding: 5px 5px;
    
}

#nameDiv {
    display: grid;
    grid-area: 22 / 10 / 58 / 92;
    grid-template: repeat(20, 5%)/repeat(20, 5%);
}
#nameDiv h2 {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(196, 193, 193);
    grid-area: 2 / 1 / 5 / 21;
}

#nameDiv p {
    font-size: 25px;
    grid-area: 4 / 3 / 5 / 8;
}

#nameDiv img {
    align-self: center;
    animation: breathing 4.5s ease-out infinite normal;
    grid-area: 11 / 5 / 13 / 6;
    max-height: 180px;
}

#spriteDiv {
    display: grid;
    grid-area: 55 / 1 / 82 / 80;
    grid-template: repeat(20, 5%)/repeat(20, 5%);
}
#spriteDiv h2{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(196, 193, 193);
    grid-area: 9 / 5 / 11 / 17;
    margin: 0%;
    text-align: center;
}
#spriteDiv img {
    
    animation: breathing 4.5s ease-out infinite normal;
    /* border: 2px solid black; */
    height: 90px;
    object-fit: cover;
    width: 90px;
}

.spriteImgDiv:nth-of-type(1) {
    
    grid-area: 14 / 6 / 18 / 9;
}

.spriteImgDiv:nth-of-type(2) {
    grid-area: 12 / 11 / 16 / 15;
}

#movesDiv {
    grid-area: 82 / 1 / 100 / 100;
}
#movesDiv h2{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(196, 193, 193);
    text-align: center;
    padding: 3px;
}

#movesListDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
}

#movesList {
    display: flex;
    font-size: 13px;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 300px;
    padding-left: 2px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#movesList li{
    width: 80%;
    margin: 4px 2px;
}




/* Breathing animation stolen from codepen.io/machi/pen/YymGzP and modified to look more lifelike */
@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

  60% {
    -webkit-transform: scale(.98);
    -ms-transform: scale(.98);
    transform: scale(.98);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}