@using ClassChallenge1.Services;
@model FriendList
@{
    ViewData["Title"] = "Friend";
}

<h1>Friends</h1>

<div class = "friendlist container" id="FriendlistDiv">
@foreach(var item in Model.listOfFriends)
{
    <div class="friend container" >
        <div class="row">
            <div class="col-2">
                <p>@item.FriendName</p>
                @*Asp route id adds the Friend id to the URL*@
            </div>
            <div class="col-4">
                <img src="img/IsisDerpCat.jpg" alt="Friend Photo">
            </div>
         </div>
        <div class="row">
            <div class="col-2">
                 <button>
                    <a class="text-dark" asp-controller="Friend" asp-route-id="@item.FriendID" asp-action="FriendDetails">Details</a>
                </button>
            </div>
            <div class="col-2">
                <button>
                    <a class="text-dark" asp-controller="Friend" asp-route-id="@item.FriendID" asp-action="UpdateFriend">Update</a>
                </button>
            </div>
            <div class="col-2">
                <button>
                    <a class="text-dark" asp-controller="Friend" asp-route-id="@item.FriendID" asp-action="FriendRemoved">Remove</a>
                </button>
            </div>
        </div>
    </div>    
}
</div>
@section Instructions
{
<div class="instructions">All of your friends are displayed here! Click "View Details" to see more.</div>
}
