div.firstdiv {
    background-color: blue;
    height: 100px;
    position: fixed;
    top: 300px;
}

div.seconddiv {
    background-color: red;
    height: 100px;

}

div.thirddiv {
    background-color: yellow;
    height: 100px;
}