
@{
    ViewData["Title"] = "AboutMe";
}

<h1>About();</h1>
<h2>Bio</h2>
<p id = "BioP">
    I am a veteran Nuclear Submarine Officer transitioning into Software Development!
    <br/>
    <br/>
    I've always had a passion for technology, games, music, and <em>solving problems</em>.
    <br/>
    <br/>
</p>
<h2>Skills</h2>
<p id = "SkillsP">
    <ul>
        <li>B.S. in Physics, United States Naval Academy</li>
        <li>M.S. in Applied Physics, Naval Postgraduate School</li>
        <li>Microsoft MSSA Program Graduate</li>
        <li>C#, VBA, and .NET</li>
        <li>Azure</li>
        <li>Python</li>
        <li>Web Development</li>
        <li>Certified Nuclear Engineer</li>
    </ul>
</p>

