@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Greetings!</h1>
    <h2>Hello, I'm Joe Beach</h2>
    <h3>Developer, Gamer, Musician, and Navy Veteran</h3>
    <img id="ProfilePicture" src="~/ProfilePicCircle.png">
    <p>Stay awhile and listen!</p>
        <p>Feel free to explore my projects and website and thanks for visiting!</p>
</div>
