@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1>Greetings();</h1>    
    <h3>My name is Joe Beach</h3>
    <h3>I am a full-stack developer based in Wisconsin specializing in C# and .NET, </h3>
    <img id="Keyboard" src="~/img/KeyboardImage2.png">
    <h3>Feel free to explore my projects and website and thanks for visiting!</h3>
</div>
