@{
    ViewData["Title"] = "Portfolio";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some of my Personal Projects!</p>

<h2>Awesome Project 1</h2>
<h2>Awesome Project 2</h2>
<h2>Awesome Project 3</h2>
<h2>Awesome Project 4</h2>
